---
const { ...props } = Astro.props;
import downArrow from "../assets/down-arrow.svg";
import site from "../data/site.json";
import Ascii from "../components/Ascii.astro";
const { content1, content2 } = Astro.props;
import { Image } from "astro:assets";
---

<main>
    <div id="container" class="h-screen relative bg-black/25">
        <Ascii />
        <div class="absolute top-56 mx-8 sm:mx-8 md:mx-32">
            <div id="organicgroup" class="z-10 text-center flex flex-col">
                <h1 id="organic" class="z-10 text-3xl md:text-6xl font-black">
                    {content1}
                </h1>
                <h2
                    class="z-30 mx-auto text-lg w-full md:text-3xl md:w-2/3 font-regular"
                >
                    {content2}
                </h2>
            </div>
            <div class="mt-24 mx-auto place-self-end">
                <Image
                    class="w-auto h-10 animate-bounce"
                    src={downArrow}
                    alt="Next Project"
                />
            </div>
        </div>
    </div>
</main>
