---
import Head from "./Head.astro";
const { ...props } = Astro.props;
import downArrow from "../assets/down-arrow.svg";
import site from "../data/site.json";
import CustomCard from "../components/CustomCard.astro";
import { Image } from "astro:assets";
---

<h2 class="text-3xl px-4 text-center">Clients</h2>
<div class="grid grid-cols-3 mx-auto md:w-1/2">
    {
        site.clients.map((spec, index) => (
            <CustomCard imagePath={spec} altText="logos" />
        ))
    }
</div>
