---
import "@splidejs/splide/css";
import { Splide, SplideTrack, SplideSlide } from "astro-splide";
import type { Options } from "@splidejs/splide";
const options: Options = {
    type: "loop",
    gap: "0.4 rem",
    autoplay: true,
    focus: "center",
    pauseOnHover: false,
    resetProgress: false,
    height: "30rem",
    interval: 3000,
};
import "../styles/splidestyle.css";
import site from "../data/site.json";
import CustomCard from "./CustomCard.astro";
---

<Splide
    options={options}
    aria-labelledby="autoplay-example-heading"
    hasTrack={false}
>
    <SplideTrack>
        {
            site.imageGallery.map((spec, index) => (
                <SplideSlide class="h-dvh">
                    <CustomCard imagePath={spec.image} altText="bannerimages" />
                    <p class="z-50 text-white text-2xl -mt-18 ml-12">
                        {spec.text}
                    </p>
                </SplideSlide>
            ))
        }
    </SplideTrack>

    <div class="splide__progress">
        <div class="splide__progress__bar"></div>
    </div>
</Splide>
