---
import menu from "../assets/menu.svg";
//should figure out auto populate of navbar based on the static pages
---

<header class="font-work" id="navigation" style="z-index: 1000;">
    <nav class="flex justify-center items-center py-4 mx-auto">
        <div class="">
            <h1 class="px-5 text-4xl">
                <a href="/" class="z-50">AJAIBGHAR</a>
            </h1>
        </div>
    </nav>
</header>
