---
import menu from '../assets/menu.svg';
---
<header class="font-work  z-50 " id="navigation">
    <nav class="flex justify-center items-center py-4 mx-auto text-white">
      <div class="">
        <h1 class="px-5  text-4xl">
          <a href="/" class="z-50">AJAIBGHAR</a>
        </h1>
      </div>
      <!-- <div class="">
        <h2  class="font-bold text-center px-3 leading-snug md:text-2xl lg:text-2xl xl:text-2xl 2xl:text-2xl">A studio for art, technology & futures</h2>
      </div> -->
      <!-- <div class="nav-links duration-500 md:static absolute backdrop-blur-xl md:backdrop-blur-none lg:backdrop-blur-none xl:backdrop-blur-none 2xl:backdrop-blur-none bg-white/30 md:bg-transparent lg:bg-transparent xl:bg-transparent 2xl:bg-transparent text-4xl md:text-xl lg:text-xl xl:text-xl 2xl:text-xl  max-h-screen	md:min-h-fit min-h-[90vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
        <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
          <li class="">
            <a href="/about" class="" aria-current="page">About</a>
          </li>
        </ul>
      </div> -->
      <!-- <div class="flex md:hidden lg:hidden xl:hidden 2xl:hidden items-center gap-6">
        <img src={menu.src} onclick="onToggleMenu(this)" name="menu" class="mr-4 w-8 cursor-pointer md:hidden" style="color: {{ 'white' if tags.length > 0 }};">
      </div> -->
    </header>
<!--   
    <script>
  
      const navLinks = document.querySelector('.nav-links')
      function onToggleMenu(e) {
        e.name = e.name === 'menu'
          ? 'close'
          : 'menu'
        navLinks
          .classList
          .toggle('top-0')
      }
    </script> -->