---
import menu from '../assets/menu.svg';
---
<header class="font-work  z-50 " id="navigation">
    <nav class="flex justify-center items-center py-4 mx-auto text-white">
      <div class="">
        <h1 class="px-5  text-4xl">
          <a href="/" class="z-50">AJAIBGHAR</a>
        </h1>
      </div>

    </header>
